html,body{
  background-color: #00BFFF; /*DeepSkyBlue*/
  font-family: "Open Sans",sans-serif;
  font-weight: 400;
  height: 100%;
  margin: 0px;
}

h1{
  margin: 2%;
}

.box{
  border-radius: 5px;
  box-shadow: 0 0 55px 0 rgba(0,0,0,0.2);
  margin: 0 2%;
  padding: 2%;
  position:relative;
}

.button {
  background-clip: border-box;
  background-color: #fff;
  border-radius: .35714em;
  border: 1px solid #00BFFF;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: .875em;
  line-height: 1.71429em;
  margin-bottom: 2%;
  padding: .75em 1.5em;
  text-align: center;
  transition: background-color 0.3s;
}

.button[disabled] {
  background-color: #eee;
  cursor: not-allowed;
}

.button:hover:not([disabled]){
  background-color: #00FF56; /*#00c589*/
}

.container{
  margin: 5%;
}

.dark-blue-color{
  color: #006485;
}

.dynamic-font {
  font-family: "Brush Script MT", cursive;
}

#image-mosaic{
  margin-bottom: 4px;
}

.loading-spinner {
  /* Size and position */
  font-size: 100px; /* 1em */
  height: 1em;
  margin: 100px auto;
  position: relative;
  width: 1em;

  /* Styles */
  border-radius: 50%;
  border: .01em solid rgba(150,150,150,0.1); /* Subtle white line circling the dots */
}

.loading-spinner span {
  width: .2em;
  height: .2em;
  position: absolute;
  border-radius: 50%;
  background: #00BFFF; /*DeepSkyBlue*/
  top: 0;
  left: 50%;
  margin-left: -.1em; /* Width/2 */
  transform-origin: 50% 250%;
  animation:
  rota 1.13s linear infinite,
  opa 3.67s ease-in-out infinite alternate;
}

.no-margin-bottom{
  margin-bottom: 0;
}

.text-center{
  text-align: center;
}

.white-bg{
  background-color: #fff;
}

.white-color{
  color: #FFF;
}

#container{
  margin-bottom: 5%;
}

#image-input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

@keyframes rota {
  to { transform: rotate(360deg); }
}

@keyframes opa {
  12.0% { opacity: 0.80; }
  19.5% { opacity: 0.88; }
  37.2% { opacity: 0.64; }
  40.5% { opacity: 0.52; }
  52.7% { opacity: 0.69; }
  60.2% { opacity: 0.60; }
  66.6% { opacity: 0.52; }
  70.0% { opacity: 0.63; }
  79.9% { opacity: 0.60; }
  84.2% { opacity: 0.75; }
  91.0% { opacity: 0.87; }
}
